body {
    background-color: purple;
    color: rgb(234, 225, 243);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100vh;
    margin: 0;

}

header{
    background-color: rgb(202, 89, 183);
    text-align: center;
    padding: 1px;
}

h1{
    font-size: 2rem;
    color: white;
    font-weight: 700;
}

nav{
    display: flex;
    justify-content: center;
    font-weight: 400;
}

nav a{
    text-decoration: none;
    color: blue;
    margin: 0rem 2rem 3rem 0rem;
    font-size: 20px;
}







